/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Red Hat Text", sans-serif;
  background-color: #f8f8f8; /* Soft baby-related background color */
  color: #333;
}

/* Container */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
  padding: 20px;
  text-align: center;
}

.container h1 {
  color: #72cdd1; /* Soft pastel color for the title */
  font-size: 2.2rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-bottom: 30px;
}

/* Countdown */
.countdown {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 15px;
}

.countdown div {
  margin: 5px;
}

.countdown p {
  background-color: #ffebcc; /* Soft pastel yellow for countdown blocks */
  color: #333;
  font-size: 3rem;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.countdown h3 {
  color: #72cdd1; /* Soft pastel matching the title */
  text-transform: uppercase;
  font-size: 1rem;
  margin-top: 10px;
}

/* Subheading */
h4 {
  color: #f783ac; /* Soft pink for the subheading */
  font-size: 1.8rem;
  margin-top: 40px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

/* Socials */
.socials {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.socials ul {
  display: flex;
  gap: 20px;
}

.socials ul li {
  list-style: none;
}

/* Attribution */
.attribution {
  font-size: 0.8rem;
  text-align: center;
  color: #666;
  margin-top: 20px;
}

.attribution a {
  color: #72cdd1;
}

/* Media Queries */
@media (max-width: 768px) {
  .countdown p {
    font-size: 2.5rem;
    padding: 15px;
  }

  .container h1 {
    font-size: 1.8rem;
  }

  h4 {
    font-size: 1.4rem;
  }
}

@media (max-width: 480px) {
  .countdown {
    flex-direction: column;
  }

  .countdown p {
    font-size: 2rem;
    padding: 10px;
  }

  .container h1 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.2rem;
  }

  .socials ul {
    gap: 15px;
  }
}
